@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #f3eafb;
    --text-100: #e7d5f6;
    --text-200: #cfaaee;
    --text-300: #b880e5;
    --text-400: #a056dc;
    --text-500: #882bd4;
    --text-600: #6d23a9;
    --text-700: #521a7f;
    --text-800: #361155;
    --text-900: #1b092a;
    --text-950: #0e0415;

    --background-50: #f3e9fb;
    --background-100: #e8d4f7;
    --background-200: #d1a8f0;
    --background-300: #ba7de8;
    --background-400: #a352e0;
    --background-500: #8b26d9;
    --background-600: #701fad;
    --background-700: #541782;
    --background-800: #380f57;
    --background-900: #1c082b;
    --background-950: #0e0416;

    --primary-50: #f5eafb;
    --primary-100: #ead4f7;
    --primary-200: #d5aaee;
    --primary-300: #c07fe6;
    --primary-400: #ab55dd;
    --primary-500: #962ad5;
    --primary-600: #7822aa;
    --primary-700: #5a1980;
    --primary-800: #3c1155;
    --primary-900: #1e082b;
    --primary-950: #0f0415;

    --secondary-50: #fbeaf7;
    --secondary-100: #f7d4ee;
    --secondary-200: #eeaadd;
    --secondary-300: #e67fcc;
    --secondary-400: #dd55bb;
    --secondary-500: #d52aaa;
    --secondary-600: #aa2288;
    --secondary-700: #801966;
    --secondary-800: #551144;
    --secondary-900: #2b0822;
    --secondary-950: #150411;

    --accent-50: #fbeaf2;
    --accent-100: #f7d4e6;
    --accent-200: #eeaacc;
    --accent-300: #e67fb3;
    --accent-400: #dd5599;
    --accent-500: #d52a80;
    --accent-600: #aa2266;
    --accent-700: #80194d;
    --accent-800: #551133;
    --accent-900: #2b081a;
    --accent-950: #15040d;
  }

  .dark {
    --text-50: #0e0415;
    --text-100: #1b092a;
    --text-200: #361155;
    --text-300: #521a7f;
    --text-400: #6d23a9;
    --text-500: #882bd4;
    --text-600: #a056dc;
    --text-700: #b880e5;
    --text-800: #cfaaee;
    --text-900: #e7d5f6;
    --text-950: #f3eafb;

    --background-50: #0e0416;
    --background-100: #1c082b;
    --background-200: #380f57;
    --background-300: #541782;
    --background-400: #701fad;
    --background-500: #8b26d9;
    --background-600: #a352e0;
    --background-700: #ba7de8;
    --background-800: #d1a8f0;
    --background-900: #e8d4f7;
    --background-950: #f3e9fb;

    --primary-50: #0f0415;
    --primary-100: #1e082b;
    --primary-200: #3c1155;
    --primary-300: #5a1980;
    --primary-400: #7822aa;
    --primary-500: #962ad5;
    --primary-600: #ab55dd;
    --primary-700: #c07fe6;
    --primary-800: #d5aaee;
    --primary-900: #ead4f7;
    --primary-950: #f5eafb;

    --secondary-50: #150411;
    --secondary-100: #2b0822;
    --secondary-200: #551144;
    --secondary-300: #801966;
    --secondary-400: #aa2288;
    --secondary-500: #d52aaa;
    --secondary-600: #dd55bb;
    --secondary-700: #e67fcc;
    --secondary-800: #eeaadd;
    --secondary-900: #f7d4ee;
    --secondary-950: #fbeaf7;

    --accent-50: #15040d;
    --accent-100: #2b081a;
    --accent-200: #551133;
    --accent-300: #80194d;
    --accent-400: #aa2266;
    --accent-500: #d52a80;
    --accent-600: #dd5599;
    --accent-700: #e67fb3;
    --accent-800: #eeaacc;
    --accent-900: #f7d4e6;
    --accent-950: #fbeaf2;
  }
}

@layer components {
  .challenge-heading {
    @apply text-4xl sm:text-5xl text-center text-primary-700 font-rubik-doodle underline decoration-accent-500 underline-offset-4 decoration-dashed font-bold;
  }
}

body {
  background-color: var(--background-50);
  color: var(--text-950);
  overflow-x: hidden;
}

/* Memory Card Game */
.card {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-inner {
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

/* Background Svg Animation */
.path-0 {
  animation: pathAnim-0 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 L 0,93 C 46.611008836524306,104.27558910162003 93.22201767304861,115.55117820324006 149,114 C 204.7779823269514,112.44882179675994 269.72293814432993,98.0708762886598 337,90 C 404.27706185567007,81.9291237113402 473.88622974963175,80.16531664212077 533,91 C 592.1137702503682,101.83468335787923 640.7321428571429,125.26785714285714 696,130 C 751.2678571428571,134.73214285714286 813.1851988217967,120.76325478645067 887,106 C 960.8148011782033,91.23674521354933 1046.5270618556701,75.6791237113402 1104,76 C 1161.4729381443299,76.3208762886598 1190.706553755523,92.52025036818853 1242,98 C 1293.293446244477,103.47974963181147 1366.6467231222387,98.23987481590574 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,93 C 46.75570692194404,115.13512518409425 93.51141384388808,137.2702503681885 150,126 C 206.48858615611192,114.72974963181149 272.71005154639175,70.0541237113402 338,61 C 403.28994845360825,51.9458762886598 467.64837997054497,78.51325478645067 536,96 C 604.351620029455,113.48674521354933 676.6964285714287,121.89285714285714 739,114 C 801.3035714285713,106.10714285714286 853.5659057437407,81.91531664212077 900,87 C 946.4340942562593,92.08468335787923 987.0399484536083,126.4458762886598 1051,118 C 1114.9600515463917,109.5541237113402 1202.2743004418262,58.301178203240056 1271,47 C 1339.7256995581738,35.698821796759944 1389.862849779087,64.34941089837997 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,93 C 72.33081737849778,109.45471281296024 144.66163475699557,125.90942562592048 210,118 C 275.33836524300443,110.09057437407952 333.68427835051546,77.81701030927834 389,77 C 444.31572164948454,76.18298969072166 496.6012518409425,106.82253313696614 549,106 C 601.3987481590575,105.17746686303386 653.9107142857143,72.89285714285714 719,68 C 784.0892857142857,63.10714285714286 861.7558910162003,85.6060382916053 923,107 C 984.2441089837997,128.3939617083947 1029.0657216494844,148.68298969072166 1083,140 C 1136.9342783505156,131.31701030927834 1199.9812223858617,93.66200294550809 1261,81 C 1322.0187776141383,68.33799705449191 1381.0093888070692,80.66899852724595 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,93 C 53.127945508100154,103.85695876288659 106.25589101620031,114.7139175257732 167,110 C 227.7441089837997,105.2860824742268 296.10438144329896,85.00128865979381 353,76 C 409.89561855670104,66.99871134020619 455.32658321060376,69.28092783505154 514,75 C 572.6734167893962,80.71907216494846 644.5892857142857,89.875 717,87 C 789.4107142857143,84.125 862.3162739322532,69.21907216494846 929,68 C 995.6837260677468,66.78092783505154 1056.145618556701,79.24871134020617 1113,92 C 1169.854381443299,104.75128865979383 1223.1012518409425,117.7860824742268 1277,118 C 1330.8987481590575,118.2139175257732 1385.4493740795288,105.60695876288659 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,93 C 46.611008836524306,104.27558910162003 93.22201767304861,115.55117820324006 149,114 C 204.7779823269514,112.44882179675994 269.72293814432993,98.0708762886598 337,90 C 404.27706185567007,81.9291237113402 473.88622974963175,80.16531664212077 533,91 C 592.1137702503682,101.83468335787923 640.7321428571429,125.26785714285714 696,130 C 751.2678571428571,134.73214285714286 813.1851988217967,120.76325478645067 887,106 C 960.8148011782033,91.23674521354933 1046.5270618556701,75.6791237113402 1104,76 C 1161.4729381443299,76.3208762886598 1190.706553755523,92.52025036818853 1242,98 C 1293.293446244477,103.47974963181147 1366.6467231222387,98.23987481590574 1440,93 L 1440,500 L 0,500 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 L 0,218 C 42.52761413843889,233.50331369661268 85.05522827687778,249.00662739322533 150,249 C 214.94477172312222,248.99337260677467 302.3067010309278,233.47680412371133 375,233 C 447.6932989690722,232.52319587628867 505.71796759941094,247.08615611192934 561,250 C 616.2820324005891,252.91384388807066 668.8214285714287,244.17857142857144 728,227 C 787.1785714285713,209.82142857142856 852.9963181148747,184.19955817378496 920,178 C 987.0036818851253,171.80044182621504 1055.193298969072,185.02319587628864 1105,197 C 1154.806701030928,208.97680412371136 1186.2304860088366,219.7076583210604 1239,223 C 1291.7695139911634,226.2923416789396 1365.8847569955817,222.1461708394698 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,218 C 45.28976435935199,238.97441089837997 90.57952871870398,259.94882179675994 153,260 C 215.42047128129602,260.05117820324006 294.9716494845361,239.1791237113402 372,225 C 449.0283505154639,210.8208762886598 523.5338733431516,203.33468335787924 571,199 C 618.4661266568484,194.66531664212076 638.8928571428571,193.48214285714283 687,208 C 735.1071428571429,222.51785714285717 810.8946980854197,252.73674521354934 884,256 C 957.1053019145803,259.26325478645066 1027.528350515464,235.5708762886598 1084,227 C 1140.471649484536,218.4291237113402 1182.9918998527248,224.9797496318115 1240,226 C 1297.0081001472752,227.0202503681885 1368.5040500736377,222.51012518409425 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,218 C 76.67930780559647,215.46023564064802 153.35861561119293,212.92047128129602 206,220 C 258.64138438880707,227.07952871870398 287.2448453608248,243.77835051546393 341,241 C 394.7551546391752,238.22164948453607 473.6620029455081,215.9661266568483 536,203 C 598.3379970544919,190.0338733431517 644.1071428571429,186.35714285714292 712,197 C 779.8928571428571,207.64285714285708 869.9094256259203,232.60530191458025 931,246 C 992.0905743740797,259.39469808541975 1024.2551546391755,261.2216494845361 1073,243 C 1121.7448453608245,224.77835051546393 1187.0699558173785,186.50810014727543 1251,179 C 1314.9300441826215,171.49189985272457 1377.4650220913109,194.7459499263623 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,218 C 77.09738586156111,233.860088365243 154.19477172312222,249.720176730486 204,247 C 253.80522827687778,244.279823269514 276.31829896907215,222.979381443299 328,207 C 379.68170103092785,191.020618556701 460.53203240058906,180.36229749631812 524,179 C 587.4679675994109,177.63770250368188 633.5535714285714,185.57142857142858 695,189 C 756.4464285714286,192.42857142857142 833.2536818851252,191.35198821796763 889,187 C 944.7463181148748,182.64801178203237 979.4317010309278,175.02061855670104 1046,174 C 1112.5682989690722,172.97938144329896 1211.0195139911634,178.56553755522827 1282,187 C 1352.9804860088366,195.43446244477173 1396.4902430044183,206.71723122238586 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,218 C 42.52761413843889,233.50331369661268 85.05522827687778,249.00662739322533 150,249 C 214.94477172312222,248.99337260677467 302.3067010309278,233.47680412371133 375,233 C 447.6932989690722,232.52319587628867 505.71796759941094,247.08615611192934 561,250 C 616.2820324005891,252.91384388807066 668.8214285714287,244.17857142857144 728,227 C 787.1785714285713,209.82142857142856 852.9963181148747,184.19955817378496 920,178 C 987.0036818851253,171.80044182621504 1055.193298969072,185.02319587628864 1105,197 C 1154.806701030928,208.97680412371136 1186.2304860088366,219.7076583210604 1239,223 C 1291.7695139911634,226.2923416789396 1365.8847569955817,222.1461708394698 1440,218 L 1440,500 L 0,500 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,500 L 0,343 C 70.47404270986746,347.2604933726068 140.94808541973492,351.5209867452135 196,358 C 251.05191458026508,364.4790132547865 290.68170103092785,373.1765463917526 350,365 C 409.31829896907215,356.8234536082474 488.32511045655394,331.7728276877761 548,339 C 607.674889543446,346.2271723122239 648.0178571428571,385.7321428571429 706,385 C 763.9821428571429,384.2678571428571 839.6034609720176,343.29860088365245 903,321 C 966.3965390279824,298.70139911634755 1017.5682989690722,295.0734536082474 1075,306 C 1132.4317010309278,316.9265463917526 1196.123343151694,342.40758468335787 1258,351 C 1319.876656848306,359.59241531664213 1379.938328424153,351.29620765832107 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,343 C 40.270066273932244,338.8379970544919 80.54013254786449,334.67599410898384 148,339 C 215.4598674521355,343.32400589101616 310.1095360824742,356.1340206185567 384,358 C 457.8904639175258,359.8659793814433 511.02172312223854,350.7879234167894 566,348 C 620.9782768777615,345.2120765832106 677.8035714285714,348.7142857142857 729,345 C 780.1964285714286,341.2857142857143 825.7639911634758,330.3549337260677 891,322 C 956.2360088365242,313.6450662739323 1041.1404639175257,307.8659793814433 1107,311 C 1172.8595360824743,314.1340206185567 1219.6741531664213,326.1811487481591 1272,333 C 1324.3258468335787,339.8188512518409 1382.1629234167895,341.40942562592045 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,343 C 49.64617083946982,369.7006627393225 99.29234167893964,396.40132547864505 166,387 C 232.70765832106036,377.59867452135495 316.4768041237113,332.0953608247423 371,312 C 425.5231958762887,291.9046391752577 450.8004418262151,297.21723122238586 508,316 C 565.1995581737849,334.78276877761414 654.3214285714286,367.03571428571433 722,371 C 789.6785714285714,374.96428571428567 835.9138438880706,350.639911634757 892,332 C 948.0861561119294,313.360088365243 1014.0231958762886,300.4046391752577 1077,297 C 1139.9768041237114,293.5953608247423 1199.9933726067748,299.7415316642121 1260,309 C 1320.0066273932252,318.2584683357879 1380.0033136966126,330.62923416789397 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,343 C 64.0152798232695,336.9885861561119 128.030559646539,330.97717231222384 178,325 C 227.969440353461,319.02282768777616 263.89304123711344,313.07989690721655 331,314 C 398.10695876288656,314.92010309278345 496.39727540500746,322.7032400589101 557,340 C 617.6027245949925,357.2967599410899 640.5178571428571,384.1071428571429 691,385 C 741.4821428571429,385.8928571428571 819.5312960235641,360.8681885125185 896,354 C 972.4687039764359,347.1318114874815 1047.3569587628865,358.4201030927835 1099,370 C 1150.6430412371135,381.5798969072165 1179.0408689248895,393.45139911634755 1232,389 C 1284.9591310751105,384.54860088365245 1362.4795655375551,363.7743004418262 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,343 C 70.47404270986746,347.2604933726068 140.94808541973492,351.5209867452135 196,358 C 251.05191458026508,364.4790132547865 290.68170103092785,373.1765463917526 350,365 C 409.31829896907215,356.8234536082474 488.32511045655394,331.7728276877761 548,339 C 607.674889543446,346.2271723122239 648.0178571428571,385.7321428571429 706,385 C 763.9821428571429,384.2678571428571 839.6034609720176,343.29860088365245 903,321 C 966.3965390279824,298.70139911634755 1017.5682989690722,295.0734536082474 1075,306 C 1132.4317010309278,316.9265463917526 1196.123343151694,342.40758468335787 1258,351 C 1319.876656848306,359.59241531664213 1379.938328424153,351.29620765832107 1440,343 L 1440,500 L 0,500 Z"
    );
  }
}
